.header__links-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__links-container {
        margin-bottom: 8px;
    }
}