.intro__list {
    list-style-type: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

