.footer__links {
    display: flex;
    align-items: center;   
}

@media screen and (max-width: 655px) {
    .footer__links {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}